.header {
  background: unset !important;
  padding-top: 10px;
  box-shadow: none !important;
}

.main-logo:hover {
  background-color: initial !important;
}

.lang-selection {
  border-radius: 12px;
}
.lang-selection fieldset {
  border: none !important;
  box-shadow: none !important;
}

.lang-selection .MuiSelect-select {
  padding: 12px 20px;
  display: flex;
  align-items: center;
}
